nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3498db;
  border: #111;
  border-radius: 5px;
  text-transform: uppercase;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2980b9;
}

#introduction {
  text-align: center;
  background-color: #ecf0f1;
  padding: 20px;
}

section h1 {
  text-transform: uppercase;
  color: #2980b9;
}

#introduction p {
  text-align: left;
  font-size: 32px;
  color: #2c3e50;
}

.first-line {
  padding-left: 20px;
  padding-top: 10px;
}